@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    color: var(--overlay-score-text-color);
    background-color: #bababa;
    --overlay-score-border-color: var(--secondary-text-color);
    --overlay-score-text-color: var(--secondary-text-color);
    --overlay-score-background-color: #3d3f75;
    --overlay-fighter-default-text-color: var(--primary-text-color);
    --overlay-fighter-default-background-color: var(--primary-background-color);
    --overlay-fighter-transparent-text-color: var(--secondary-text-color);
    --overlay-fighter-1-text-color: var(--overlay-fighter-default-text-color);
    --overlay-fighter-1-background-color: var(--overlay-fighter-default-background-color);
    --overlay-fighter-2-text-color: var(--overlay-fighter-default-text-color);
    --overlay-fighter-2-background-color: var(--overlay-fighter-default-background-color);
}

body.transparent {
    --overlay-score-border-color: transparent;
    --overlay-score-background-color: transparent;
}

body {
    /* background-image: url('./sample.png'); */
    /* background-repeat: no-repeat; */
}

body,
button,
input {
    font-family: "Oswald", "Chivo", sans-serif;
}

.overlay-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    overflow: hidden;
}

.overlay-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
}

.overlay-divider {
    flex: 1
}

.overlay-header {
    background-color: var(--overlay-score-background-color);
    text-align: center;
    border-radius: 15px;
    font-size: 5rem;
    width: 19rem;
    height: 5.75rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.match-time {
    text-shadow: 5px 5px 5px #333333;
    margin-bottom: 0.5rem;
}

.overlay-footer {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    align-items: center;
    width: 100%;
}

.score-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--overlay-score-background-color);
    text-align: center;
    border-radius: 15px;
    height: 7.75rem;
    width: 25rem;
}

.fighter-scores {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 6.5rem;
    text-shadow: 5px 5px 5px #333333;
    padding-bottom: 0.75rem;
    gap: 1.25rem;
    height: 100%;
}

.fighter-score-divider {
    margin-bottom: 0.75rem
}

.fighter-score {
    flex: 1;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.fighter-1-score {
    text-align: right;
}

.fighter-2-score {
    text-align: left;
}

.doubles {
    display: none;
}

.fighter-info {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 0.5rem;
    height: 5.5rem;
    margin-top: 0.5rem;
    flex: 1;
    background-color: var(--overlay-fighter-default-background-color);
    color: var(--overlay-fighter-default-text-color);
    overflow: hidden;
}

.fighter-1-info {
    padding-left: 3rem;
    padding-right: 2rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: end;
    color: var(--overlay-fighter-1-text-color);
    background-color: var(--overlay-fighter-1-background-color);
}

.fighter-2-info {
    padding-left: 2rem;
    padding-right: 3rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: start;
    color: var(--overlay-fighter-2-text-color);
    background-color: var(--overlay-fighter-2-background-color);
}

.fighter-name-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: 1;
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;
}

.fighter-1-info .fighter-name-container, .fighter-1-info .fighter-school-container {
    align-content: flex-end;
}

.fighter-2-info .fighter-name-container, .fighter-2-info .fighter-school-container {
    align-content: flex-start;
}

.fighter-name {
    font-size: 3rem;
    white-space: nowrap;
    display: inline-block;
    text-shadow: 5px 5px 5px #333333;
}

.fighter-school-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.fighter-school {
    font-size: 1.25rem;
    white-space: nowrap;
    display: inline-block;
    text-shadow: 5px 5px 5px #333333;
}

.overlay-debug-info {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;
}

.overlay-debug-info.hidden {
    display: none;
}

.debug-scorecard-api-status {
    color: lime;
}

.debug-error-status, .debug-scorecard-api-status.error {
    color: red;
}