.controller-wrapper {
    margin: 2rem;
}

h2 {
    margin-top: 1rem;
}

input[type='checkbox'] {
    width: 1.25rem;
    height: 1.25rem;
}

.checkbox-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.25rem;
    margin: 0.25rem;
}

.enter-match-id-inputs {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    align-items: center;
}
.primary-text-input {
    padding: 0.5rem;
    width: 25rem;
}
.enter-match-id-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}
.enter-match-id-result {
    font-size: 0.8em;
}
.enter-match-id-result.success {
    color: green;
}
.enter-match-id-result.error {
    color: darkred;
}